<h1>Your Recipes</h1>

<h4><%= link_to "Add a recipe", new_recipe_path %></h4>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
    <% if recipe.user_id == current_user.id %>
      <li class="list-group-item">
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
        <h4>By <%= recipe.user.name %></h4>
        <h4><%= comment_count(recipe) %></h4>
        <h5><%= link_to "Delete", recipe_path(recipe), method: :delete %></h5>
      </li>
    <% end %>
  <% end %>
</ul>

<h1>All Recipes</h1>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
    <li class="list-group-item">
      <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
      <h4>By <%= recipe.name %></h4>
      <h4><%= comment_count(recipe) %></h4>
      <% if current_user.admin? %>
        <h5><%= link_to "Delete", recipe_path(recipe), method: :delete %></h5>
      <% end %>
    </li>
  <% end %>
</ul>